<div class="text-center card border-light bg-light ">
  <div id="help1">
    <p><br></p>
    <h3><b>AIDE</b></h3>
  </div>
</div>


!!!!!REtour là d'où tu viens

  <div class="card border-secondary p-0 m-50 bg-light ">

    <div class="card-header">Aide 1</div>
    <div class="card-body-summary justify-content-center">
     <p> ExempleExemple ExempleExempleExempleExemple ExempleExempleExemple</p>
    </div>

  </div>


<div class="card border-light p-4 justify-content-center bg-light ">
  <div id="help2">
    <div class="card-header">Aide 2</div>
    <div class="card-body justify-content-center">
     <p> ExempleExemple ExempleExempleExempleExempleExempleExExempleExExempleExExempleExExempleExExempleExExempleExExempleExExempleExExempleExExempleEx ExempleExempleExemple</p>
    </div>
  </div>
</div>

<div class="card border-light p-4 justify-content-center bg-light ">
  <div id="help3">
    <div class="card-header">Aide 3</div>
    <div class="card-body justify-content-center">
      <p> ExempleExemple ExempleExempleExempleExempleExempleExExempleExExempleExExempleExExempleExExempleExExempleExExempleExExempleExExempleExExempleEx ExempleExempleExemple</p>
    </div>
  </div>
</div>

<div class="card border-light p-4 justify-content-center bg-light ">
  <div id="help4">
    <div class="card-header">Aide 4</div>
    <div class="card-body justify-content-center">
      <p> ExempleExemple ExempleExempleExempleExempleExempleExExempleExExempleExExempleExExempleExExempleExExempleExExempleExExempleExExempleExExempleEx ExempleExempleExemple</p>
    </div>
  </div>
</div>

<div class="card border-light p-4 justify-content-center bg-light ">
  <div id="helptag">
    <div class="card-header">Comprendre les tags</div>
    <div class="card-body justify-content-center">
      <p> Si vous approuvez cliquez machin sinon, cliquelkgjgkhhskfjhhsjh</p>
    </div>
  </div>
</div>

<div class="card border-light p-4 justify-content-center bg-light ">
  <div id="help6">
    <div class="card-header">Aide 6</div>
    <div class="card-body card-body-references justify-content-center">
      <p> ExempleExemple ExempleExempleExempleExempleExempleExExempleExExempleExExempleExExempleExExempleExExempleExExempleExExempleExExempleExExempleEx ExempleExempleExemple</p>
    </div>
  </div>
</div>
