<div%= stylesheet_link_tag "article_show" %>
<div class="col">
    <div class="offset-2 col-8 mx-auto">
        <div class="card border-secondary p-4 justify-content-center bg-light above-small shadow-lg">
            <h3 class="text-center"><strong>About</strong></h3>
            <div class="card border-light p-4 justify-content-center bg-light ">
                <div class="card-header text-center">The "GAFFEx" project</div>
                <div class="card-body text-center">
                Get involved ? The development of GAFFEx is supported by the association Science Unchained. A strong team is their working in the backstage making the platform freely available. If you feel like you can also bring your skills in our team to improve the platform or develop new services. Please <a class="text-decoration-none" href="<%= contact_path %>">contact us.</a>
                </div>           
            </div>
        </div>
    </div>
</div>
