<%= stylesheet_link_tag "article_show" %>
<div class="col">
    <div class="offset-2 col-12 col-xl-8 mx-auto">
        <div class="card border-secondary p-4 justify-content-center bg-light above-small shadow-lg">
            <h3 class="text-center"><strong>Nous contacter : </strong></h3>
            <div class="card border-light p-4 justify-content-center bg-light ">
                <div class="card-header text-center">Équipe GAFFEX</div>
                <div class="card-body card-body d-flex justify-content-around ">
                    <a class="text-decoration-none" href="https://github.com/talmidiel"  target="_blank">Anthony CHARPENAY</a>
                    <a class="text-decoration-none" href="https://github.com/Anaisiananann" target="_blank">Anaïs THIBAUDIN</a>
                    <a class="text-decoration-none" href="https://github.com/LucieCaillat" target="_blank">Lucie CAILLAT</a>
                    <a class="text-decoration-none" href="https://github.com/8UK0W5K1" target="_blank">Jeremie DELDEM</a>
                    <a class="text-decoration-none" href="https://github.com/JulienRouet" target="_blank">Julien ROUET</a>               
                </div> 
                <div class="text-center">
                    <br></br>
                    <h4>contact@gaffex.org</h4>
                </div>           
            </div>
        </div>
    </div>
</div>
