<%= stylesheet_link_tag "article_show" %>
<div class="col">
  <div class="offset-2 col-12 col-xl-8 mx-auto">
    <div class="card border-secondary p-4 justify-content-center bg-light above-small shadow-lg">
      <div class="text-center card border-light bg-light ">
        <div>
          <p><br></p>
          <h3 class="fw-bold">Comment marche le systeme d'évaluation par les pairs?</h3>
        </div>
      </div>
      <div class="card border-light p-4 justify-content-center bg-light ">
        <div class="card-header">En vous inscrivant, vous pouvez évaluer la pertinence des articles en tant qu’échecs scientifiques, parmi les trois catégories suivantes:
        </div>

        <div class="card-body mt-2">
          <table class="table table-borderless">
            <tbody>
              <tr>                  
                <td><span class="badge rounded-pill bg-success me-5"><span class="iconify" data-icon="mdi:check-bold" style="color: white;" data-width="20" data-height="20"></span></span></td>
                <td><strong>Approuvé :</strong> Vous estimez que la méthodologie employée et l'interprétation des résultats sont adéquates, il s’agit d’un échec véritable.</td>
                
              </tr>
              <tr>                  
                <td><span class="badge rounded-pill bg-warning me-5"><span class="iconify" data-icon="jam:write-f" style="color: white;" data-width="20" data-height="20"></span></span></td>
                <td><strong>À retravailler :</strong> Vous estimez qu'il y a un problème dans le protocole de cette étude. Celle-ci pourrait ne pas être un échec si elle était retravaillée. </td>
                
              </tr>
              <tr>
                
                <td><span class="badge rounded-pill bg-danger me-5"><span class="iconify" data-icon="emojione-monotone:cross-mark" style="color: white;" data-width="20" data-height="20"></span></span></td>
                <td><strong>Non Approuvé :</strong> Vous estimez que l’échec de cette étude est due à un manque de sérieux dans la démarche scientifique et qu'il n’est pas profitable à la communauté.</td>
                
              </tr>
            </tbody>
          </table> 
        </div> 
        
      </div>
    </div>
  </div>
</div>
