<%= stylesheet_link_tag "article_show" %>
<div class="col">
    <div class="offset-2 col-8 mx-auto">
        <div class="card border-secondary p-4 justify-content-center bg-light above-small shadow-lg">
            <h3 class="text-center"><strong>GAFFEx Project </strong></h3>
            <div class="card border-light p-4 justify-content-center bg-light ">
                <div class="card-header">What... is Gaffex?</div>
                <div class="card-body card-body justify-content-center">
                   GAFFEx, what does that mean? It stands for GAthering of Fundamentally Failed Experiments. GAFFex is a tool developed by scientists for scientists. It has been created by a bench of young researchers and developers that truly believed that sciences need a place where scientific unexpected results can be shared globally. And this is where GAFFEx came to live, in the form of a website where you can share freely what is impossible in your field of science. 
                </div>
            </div>
            
            <div class="card border-light p-4 justify-content-center bg-light ">
                <div class="card-header">History</div>
                    <div class="card-body card-body justify-content-center">
                        The idea of developing GAFFEx has emerged in the brain of a PhD student who had really strong hypothesis, and a lot of data that definitely confirmed that the expected results cannot be obtained. At this moment, the opportunity to publish these results were really scarce. At the end of its PhD, he found a very good job in a company and began to develop his idea. He found some friends and colleagues to join this adventure and they worked together to implement the project. It took 3 years before testing a first version of the platform. From the birth of GAFFEx, everybody worked on GAFFEx as volunteers. The project has been funded by the « Fondation de France » who gave a grant to Gilmary Gallon in 2018. 
                    </div>
            </div>
                           
            <div class="card border-light p-4 justify-content-center bg-light ">
                <div class="card-header">Why… Is GAFFEx so necessary?</div>
                    <div class="card-body card-body justify-content-center">
                            First of all, what is a failed experiment ? A failed experiment corresponds to a result that differs from what can be expected or even desired. Failed experiments are part of science, especially within the exploration phases of challenging projects. Beautiful failures can badly challenge working assumptions and usually lead to a shift in the general strategy or employed methodologies. However, these preliminary data are sometimes seen as meaningless and aren’t valued even if in many projects they are the fruit of hours of work and have consumed valuable raw materials to be generated. It can also happen that an experiment is referred as a fail because it doesn’t corroborate previously published results. This case joins the dilemma of reproducibility that researchers encounter quite often (ref baker 2016). In this context it is even more important to publish failed experiments, because it helps the research to determine which result to trust, the one published or its own work. 
                    </div>
            </div>
                                    
            <div class="card border-light p-4 justify-content-center bg-light ">
                <div class="card-header">What issues...does GAFFEx want to solve?</div>
                    <div class="card-body card-body justify-content-center">
                                To know how GAFFEx works one has to know why failed experiments are generally not published ? Confidentiality is coming first and this is why GAFFEx propose an alternative mode of publication, where the result is published without all the general context of the study. Then, the time needed for a researcher to publish such data is another issue and GAFFEx is designed to reduce considerably this time. Additionally, publishing « negative results » is generally not accepted in classical journal for fame aspects and pair review consideration, thus GAFFEx aims at operating a change of paradigm but proposing a new revision system which will help collecting failed experiments data. 
                    </div>
            </div>       

            <div class="card border-light p-4 justify-content-center bg-light ">
                <div class="card-header">What issues...does GAFFEx want to solve?</div>
                    <div class="card-body card-body justify-content-center">
                                    To know how GAFFEx works one has to know why failed experiments are generally not published ? Confidentiality is coming first and this is why GAFFEx propose an alternative mode of publication, where the result is published without all the general context of the study. Then, the time needed for a researcher to publish such data is another issue and GAFFEx is designed to reduce considerably this time. Additionally, publishing « negative results » is generally not accepted in classical journal for fame aspects and pair review consideration, thus GAFFEx aims at operating a change of paradigm but proposing a new revision system which will help collecting failed experiments data. 
                    </div>
            </div>
                                                      
            <div class="card border-light p-4 justify-content-center bg-light ">
                <div class="card-header">Who… Can access GAFFEx?</div>
                    <div class="card-body card-body justify-content-center">
                                        GAFFEx is following the precepts of open sciences and has been dreamt as a fully open platform. We actually had in mind that any scientist could, before entering the lab, check GAFFEx to be sure his experiment hasn’t be previously referred as impossible. This way GAFFEx is freely accessible to any interested professor, researcher, student or citizen and this without advertising or selling any of our data. 
                    </div>
            </div>
                                
            <div class="card border-light p-4 justify-content-center bg-light ">
                <div class="card-header"> Who can submit and review experiments?</div>
                    <div class="card-body justify-content-center">
                                            When getting used to GAFFEx, soon you may want to input your own failed experiment or review and comment those of our colleagues. This is open to all users signed-in to the platform. GAFFEx is offering several signing-in options and you may for example choose to support the development of GAFFEx by getting involved in its development or asking your institution to back us up. 
                    </div>                                    
            </div>
            
            <div class="card border-light p-4 justify-content-center bg-light ">
                <div class="card-header"> How... does GAFFEx work?</div>
                    <div class="card-body justify-content-center"> 
                  Then if you want more details, a template will be available for the submission of you experiment. You will fill the text fields and your paper will be automatically formatted. After your own validation, it will be shared with GAFFEx users. All the readers will be able to comment and evaluate your experiment, until it reaches sufficient level of reliability. Then it will be considered to an « accepted » paper and will obtain a DOI to cite it in other papers.
                  After review by different users, your post may be again implemented. You can add experiments that reinforce the negative results. You can also change some parameters in your experience and obtain different results. These new submissions will stay associated to the initial experiments. All these data will enrich the GAFFEx platform. If you finally obtain positive results associated to your published data on GAFFEx, you will be able to cite your own publication in the paper where you submit the whole results. 
                  When getting used to GAFFEx, soon you may want to input your own failed experiment or review and comment those of our colleagues. This is open to all users signed-in to the platform. GAFFEx is offering several signing-in options and you may for example choose to support the development of GAFFEx by getting involved in its development or asking your institution to back us up. 
                    </div>                                    
            </div>
        </div>
    </div>
</div>
