<%= stylesheet_link_tag "article_show" %>
<div class="col">
    <div class="offset-2 col-12 col-xl-8 mx-auto">
        <div class="card border-secondary p-4 justify-content-center bg-light above-small shadow-lg">
            <h3 class="text-center"><strong>Projet GAFFEX</strong></h3>
            <div class="card border-light p-4 justify-content-center bg-light ">
                <div class="card-header">Qu’est-ce que Gaffex ?</div>
                <div class="card-body card-body justify-content-center">
                    GAFFEx, qu’est-ce que cela signifie ? Cela signifie GAthering of Fondamentalement Failed
                    Experiments. GAFFEx est un outil développé par les scientifiques pour les scientifiques. Il a
                    été créé par un banc de jeunes chercheurs et développeurs qui croyaient vraiment que les
                    sciences ont besoin d’un endroit où les résultats scientifiques inattendus peuvent être partagés
                    à l’échelle mondiale. Et c’est là que GAFFEx est venu vivre, sous la forme d’un site web où vous
                    pouvez partager librement ce qui est impossible dans votre domaine scientifique.
                </div>
            </div>
            
            <div class="card border-light p-4 justify-content-center bg-light ">
                <div class="card-header">Historique</div>
                    <div class="card-body card-body justify-content-center">
                        L’idée de développer le GAFFEx a émergé dans le cerveau d’un doctorant qui avait des hypothèses
                        vraiment
                        fortes, et beaucoup de données qui ont confirmé définitivement que les résultats attendus ne
                        peuvent pas
                        être obtenus. En ce moment, la possibilité de publier ces résultats était vraiment rare. À la
                        fin de son
                        doctorat, il a trouvé un très bon emploi dans une entreprise et a commencé à développer son
                        idée. Il a
                        trouvé des amis et des collègues pour se joindre à cette aventure et ils ont travaillé ensemble
                        pour mettre
                        en œuvre le projet. Il a fallu 3 ans avant de tester une première version de la plateforme. Dès
                        la naissance
                        de GAFFEx, tout le monde a travaillait sur GAFFEx en tant que volontaires. Le projet a été
                        financé par la «
                        Fondation de France » qui a accordé une bourse à Gilmary Gallon en 2018.
                    </div>
            </div>
                           
            <div class="card border-light p-4 justify-content-center bg-light ">
                <div class="card-header">Pourquoi GAFFEx est-il si nécessaire ?</div>
                    <div class="card-body card-body justify-content-center">
                            Tout d’abord, qu’est-ce qu’une expérience échouée ? Une expérience échouée correspond à un
                            résultat qui
                            diffère de ce qui peut être attendu ou même souhaité. Les expériences échouées font partie
                            de la science,
                            surtout dans les phases d’exploration de projets difficiles. Les beaux échecs peuvent
                            sérieusement remettre
                            en question les hypothèses de travail et conduire généralement à un changement dans la
                            stratégie générale ou
                            les méthodologies employées. Cependant, ces données préliminaires sont parfois considérées
                            comme
                            insignifiantes et ne sont pas valorisées même si, dans de nombreux projets, elles sont le
                            fruit d’heures de
                            travail et ont consommé des matières premières précieuses à générer. Il peut aussi arriver
                            qu’une expérience
                            soit considérée comme un échec parce qu’elle ne corrobore pas les résultats publiés
                            précédemment. Ce cas
                            rejoint le dilemme de la reproductibilité que les chercheurs rencontrent assez souvent (réf
                            : baker 2016).
                            Dans ce contexte, il est encore plus important de publier des expériences ratées, car cela
                            aide la recherche
                            à déterminer quel résultat faire confiance, celui publié ou son propre travail.
                    </div>
            </div>
                                    
            <div class="card border-light p-4 justify-content-center bg-light ">
                <div class="card-header">Qui peut accéder au GAFFEx ?</div>
                    <div class="card-body card-body justify-content-center">
                                Pour savoir comment le GAFFEx fonctionne, il faut savoir pourquoi les expériences
                                échouées ne sont
                                généralement pas publiées. La confidentialité vient en premier et c’est pourquoi GAFFEx
                                propose un mode
                                alternatif de publication, où le résultat est publié sans tout le contexte général de
                                l’étude. Ensuite, le
                                temps nécessaire à un chercheur pour publier de telles données est un autre problème et
                                GAFFEx est conçu
                                pour réduire considérablement ce temps. De plus, la publication de « résultats négatifs
                                » n’est généralement
                                pas acceptée dans la revue classique pour les aspects de la notoriété et la prise en
                                compte de l’examen des
                                paires.
                    </div>
            </div>       

            <div class="card border-light p-4 justify-content-center bg-light ">
                <div class="card-header">Quels problèmes GAFFEx veut-il résoudre ?</div>
                    <div class="card-body card-body justify-content-center">
                                    GAFFEx suit les préceptes des sciences ouvertes et a été rêvé comme une plate-forme
                                    entièrement ouverte.
                                    Nous avions en fait à l’esprit que tout scientifique pourrait, avant d’entrer dans
                                    le laboratoire, vérifier
                                    GAFFEx pour être sûr que son expérience n’a pas été précédemment considéré comme
                                    impossible. De cette façon,
                                    GAFFEx est librement accessible à tout professeur, chercheur, étudiant ou citoyen
                                    intéressé et ce sans
                                    publicité ou vente de nos données.
                    </div>
            </div>
                                                      
            <div class="card border-light p-4 justify-content-center bg-light ">
                <div class="card-header"> Qui peut soumettre et évaluer des expériences?</div>
                    <div class="card-body card-body justify-content-center">
                                        Lorsque vous vous habituez au GAFFEx, vous pouvez bientôt entrer votre propre
                                        expérience ratée ou examiner
                                        et commenter celles de nos collègues. Ceci est ouvert à tous les utilisateurs
                                        connectés à la plateforme.
                                        GAFFEx offre plusieurs options de connexion et vous pouvez par exemple choisir
                                        de soutenir le développement
                                        de GAFFEx en vous impliquant dans son développement ou en demandant à votre
                                        établissement de nous soutenir.
                    </div>
            </div>
                                
            <div class="card border-light p-4 justify-content-center bg-light ">
                <div class="card-header"> Comment GAFFEx fonctionne-t-il?</div>
                    <div class="card-body justify-content-center">
                                            Ensuite, si vous voulez plus de détails, un modèle sera disponible pour la
                                            soumission de votre expérience.
                                            Vous remplirez les champs de texte et votre papier sera automatiquement
                                            formaté. Après votre propre
                                            validation, il sera partagé avec les utilisateurs de GAFFEx. Tous les
                                            lecteurs pourront commenter et évaluer
                                            votre expérience, jusqu’à ce qu’elle atteigne un niveau de fiabilité
                                            suffisant. Ensuite, il sera considéré
                                            comme un document « accepté » et obtiendra un DOI pour le citer dans
                                            d’autres documents.

                                            Après examen par différents utilisateurs, votre poste peut être à nouveau
                                            mis en œuvre. Vous pouvez ajouter
                                            des expériences qui renforcent les résultats négatifs. Vous pouvez également
                                            modifier certains paramètres de
                                            votre expérience et obtenir des résultats différents. Ces nouvelles
                                            soumissions demeureront associées aux
                                            expériences initiales. Toutes ces données enrichiront la plateforme GAFFEx.
                                            Si vous obtenez finalement des
                                            résultats positifs associés à vos données publiées sur GAFFEx, vous pourrez
                                            citer votre propre publication
                                            dans le document où vous soumettez l’ensemble des résultats.  
                    </div>                                    
            </div>
        </div>
    </div>
</div>
