<h2 style="text-align: center;">Bienvenue sur Gaffex !</h2>
<h5 style="text-align: center;">vous vous êtes inscrit sur Gaffex avec cette adresse email : <%= @user.email %>.</h5>
<p style="text-align: center;"><strong>dirigez vous vers <%= @url %> pour vous connecter.</strong></p>