<div class="col">
  <div class="offset-2 col-8 mx-auto">
    <div class="card border-secondary p-4 justify-content-center bg-light above-small ">

      <div class="row align-items-start">
      </div>
    </div>
  </div>
</div>