<%= stylesheet_link_tag "article_show" %>
<div class="col">
  <div class="offset-2 col-8 mx-auto">
    <div class="card border-secondary p-4 justify-content-center bg-light above-small shadow-show">
      <div id="repertory" class="card-header repertory">
        <div id="icon" class="float-end">
          <span class="iconify" data-icon="mdi:pin"></span>
        </div>
        <ol class="list-repertory mt-3 mb-2">
          <a href="#summary">
            <li>Résumé</li>
          </a>
          <a href="#introduction">
            <li>Introduction</li>
          </a>
          <a href="#protocol">
            <li>Protocole</li>
          </a>
          <a href="#results">
            <li>Résultats</li>
          </a>
          <a href="#conclusion">
            <li>Conclusion</li>
          </a>
          <a href="#references">
            <li>Références</li>
          </a>
        </ol>
      </div>
      <div id="article-header">
        <%= render 'header_article_show' %>
      </div>
      <%= render 'details_article_show' %>

    </div>
  </div>
</div>

<%= javascript_include_tag 'repertory' %>
