<%= stylesheet_link_tag "article_show" %>



<div class="card-header repertory">
  <ol class="list-repertory mt-2 mb-2">
    <a href="#summary"><li>Résumé</li></a> 
    <a href="#introduction"><li>Introduction</li></a>
    <a href="#protocol"><li>Protocole</li></a>
    <a href="#results"><li>Résultats</li></a>
    <a href="#conclusion"><li>Conclusion</li></a>
    <a href="#references"> <li>Références</li></a>
  </ol>
</div>



<div class="col">
  <div class="offset-2 col-8 mx-auto">
    <div class="card border-secondary p-4 justify-content-center bg-light above-small ">

     <%=render 'header_article_show'%>

     <%=render 'details_article_show'%> 

    </div>
  </div>
</div>

