<%= stylesheet_link_tag "article_show" %>

<div class="col">
  <div class="offset-2 col-8 mx-auto">
    <div class="card border-secondary p-4 justify-content-center bg-light above-small ">

     <%=render 'header_article_show'%>

     <%=render 'details_article_show'%> 

    </div>
  </div>
</div>

