.border-light {
    border: none !important;
  }

.word-wrap{
   word-wrap: break-all;  
}

  .clickable a {
    text-decoration: none;
    color:#2c3e50;
  }
  
  .clickable a:hover {
    color:black;
  }
