
.card-body-summary {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem 3rem;
  text-align: justify;
}

.summary {
  margin: 2rem 5rem 2rem 5rem;
}

.card-body {
  text-align: justify;
  text-indent: 3rem;
}

.card-body-references {
  text-align: justify;
  text-indent: 0rem !important;
}

.border-light {
  border: none !important;
}

.badge-fake:hover {
  box-shadow: 0 0 0 0.10rem #2c3e50;
}

.repertory {
  position: fixed;
  top: 37%; 
  left: 83.5%;
  z-index: 1;  
  background-color:#E5E9E9 !important;
  box-shadow: 0.1rem 0 0.1rem 0  #9a9c9c ;
}


.list-repertory a {
  text-decoration: none;
  color:black;
}

.list-repertory a:hover {
  color:#f39c12;
}
  
