* {
  font-family: Helvetica, Arial, sans-serif;
}

.text-center .mx-3 .mb-2 .mt-4 {
  display: none;
}

.forpdf {
  display: none;
}

.card-header {
  font-size: 2em;
  text-decoration: wavy;
}

a {
  display: none;
}

#summary {
  font-size: 3em;
}

.list-repertory {
  display: none;
}

img {
  display: none;
}
png {
  display: none;
}

.pdf-head {
  font-size: 3em;
  text-align: center;
}

#content {
  margin-top: 1em;
}
