<h2 style="text-align: center;">Bonjour, <strong><%= @email %></strong>!</h2>
<p style="text-align: center;"><strong><% if @resource.try(:unconfirmed_email?) %></strong></p>
<h5 style="text-align: center;">Nous vous contactons pour vous informer que votre adresse e-mail est modifiée en : <strong><%= @resource.unconfirmed_email %></strong>.</h5>
<% else %>
<h5 style="text-align: center;">Nous vous contactons pour vous informer que votre email a été changé en : <strong><%= @resource.email %></strong></h5>
<% end %>