<h2 style="text-align: center;">Bonjour <strong><%= @resource.email %></strong> !</h2>
<h5 style="text-align: center;">Nous vous contactons pour vous informer que votre mot de passe a été modifié.</h5>