<h2 style="text-align: center;">Bienvenue <%= @resource.email %> !</h2>

<h5 style="text-align: center;"><strong><span style="color: #ff0000;">Votre compte a été verrouillé en raison d'un nombre excessif de tentatives de connexion infructueuses.</span></strong></h5>

<h5 style="text-align: center;">Cliquez sur le lien ci-dessous pour déverrouiller votre compte :</h5>

<h5 style="text-align: center;"><strong><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></strong></h5>
