<section class="bg-light mt-5 pt-1" style="position: absolute;
  bottom: 0; width: 100%;" >
  <div class="text-center text-md-start">
    <div class="row d-flex align-items-center text-center">
      <div class="col-2 ms-md-5 ms-0">
        <img
          class="ms-md-5 ms-0"
          style="width: 5em"
          src="<%= asset_path('dodo.png') %>"
          alt="mascotte"
        />
      </div>
      <div class="col-7 d-flex justify-content-between">
        <div class="col-2">
          <h6 class="text-uppercase fw-bold">
            <a class="text-decoration-none" href="#">Nous Contacter</a>
          </h6>
        </div>
        <div class="col-2">
          <h6 class="text-uppercase fw-bold">
            <a
              class="text-decoration-none"
              href="https://github.com/8UK0W5K1/theGaffexProject/blob/master/LICENSE.txt"
              >Licence</a
            >
          </h6>
        </div>
        <div class="col-2">
          <h6 class="text-uppercase fw-bold">
            <a class="text-decoration-none" href="#">À propos</a>
          </h6>
        </div>
        <div class="col-2">
          <h6 class="text-uppercase fw-bold">
            <a class="text-decoration-none" href="#">Qu'est-ce que Gaffex ?</a>
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center pb-2">
    <div class="col">
      <small class="fw-bold text-muted">
        Copyright ©
        <script>
          document.write(new Date().getFullYear());
        </script>
        Gaffex Project</small
      >
    </div>
  </div>
</section>
