<div
  class="pt-5 text-center bg-image justify-content-start rellax"
  style="
    background-image: url('<%= asset_path 'bgimage.jpg' %>');
    height: 40vh;
    background-size: cover;
    background-position: 35% 65%;
  "
  data-rellax-speed="-4"
>
  <span style="filter: blur(8px)"></span>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.8)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <%= image_tag asset_path("logoGaffex.png") %>
        <p class="mx-5">
            GAFFEx est un outil qui permet aux scientifiques de partager leurs échecs avec la communauté. Notre objectif est d’aider les chercheurs à économiser du temps et des ressources en ne répétant pas des expériences qui ont déjà échouées. GAFFEx est une plateforme librement accessible basée sur un système d’évaluation par les pairs. 
        </p>
      </div>
    </div>
  </div>
</div>
