<!-- Background image -->
<div
  class="py-4 text-center bg-light justify-content-start">

    <div class="d-flex justify-content-start h-100">
      <div class="ms-3">
        <img src="<%= asset_path("logoGaffex.png") %>">
      </div>
    </div>
</div>
<!-- Background image -->
