<!-- Background image -->
<div
  class="pt-5 text-center bg-image justify-content-start"
  style="
    background-image: url('<%= asset_path 'bgimage.jpg' %>');
    height: 40vh;
    background-size: cover;
    background-position: 35% 65%;
  "
>
  <span style="filter: blur(8px)"></span>
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.8)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <%= image_tag asset_path("logoGaffex.png") %>
        <p class="mx-5">
          Rejoignez-nous! Lorem ipsum dolor sit, amet consectetur adipisicing
          elit. Magnam veritatis deleniti voluptates qui suscipit, esse cum
          placeat totam neque, veniam vitae soluta distinctio dignissimos natus
          nihil sed doloribus, corporis vel. Repellendus, dolore. Minima dolores
          rerum sit reprehenderit possimus explicabo aperiam?
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Background image -->
