<%= stylesheet_link_tag "loading_animation" %>
<div class="container-loading loading-wrapper">
  <div class="loader_1">
    <div class="loader_1-item"></div>
    <div class="loader_1-item"></div>
    <div class="loader_1-item"></div>
    <div class="loader_1-item"></div>
    <div class="loader_1-item"></div>
    <div class="loader_1-item"></div>
    <div class="loader_1-item"></div>
    <div class="loader_1-item"></div>
  </div>
  <div class="loader_2">
    <div class="loader_2-item"></div>
    <div class="loader_2-item"></div>
    <div class="loader_2-item"></div>
    <div class="loader_2-item"></div>
    <div class="loader_2-item"></div>
    <div class="loader_2-item"></div>
    <div class="loader_2-item"></div>
    <div class="loader_2-item"></div>
  </div>
  <div class="loader_3">
    <div class="loader_3-item"></div>
    <div class="loader_3-item"></div>
    <div class="loader_3-item"></div>
    <div class="loader_3-item"></div>
    <div class="loader_3-item"></div>
    <div class="loader_3-item"></div>
    <div class="loader_3-item"></div>
    <div class="loader_3-item"></div>
  </div>
</div>

<script> loadingWrapper = document.querySelector('.loading-wrapper');
window.addEventListener('load', function () {loadingWrapper.style.display = 'none';});
</script>
