<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= stylesheet_link_tag wicked_pdf_asset_base64("pdf") %>
  </head>
  <body onload='number_pages'>
      <div class="pdf-head">  
      Projet GAFFEx - Gathering of fundamentally failure experiment 
    <hr>
      </div>
    <div id="content">
      <%= yield %>
      <div class="date d-flex justify-content-end">Pdf généré le : <%= Time.zone.now %>
      </div>
    </div>
  </body>
</html>

